@charset "utf-8";
:root {--main-font-color: #023D5D;
--main-color: #FCF4E4;}
*{ cursor: url('../img/con1.png') 2 2, auto;}
*:active{ cursor: url('../img/con1_active.png') 2 2, auto;}

 body {margin: 0; padding: 0; line-height: 1.5; background: var(--main-color); color: var(--main-font-color); font-size: 1.8rem;}
.inner { max-width: 1720px; padding: 0 20px; margin: 0 auto; overflow: hidden;}

#header {padding-top: 40px; text-align: end; position: relative; z-index: 1;}
#header .inner .gnb_ham {display: flex; justify-content: space-between; align-items: center; padding: 0;}
#header .inner .gnb_ham .gnb {color: var(--main-font-color); display: flex; justify-content: space-between; align-items: center; gap: 10px; }
#header .inner .gnb_ham .gnb a {padding: 10px;  cursor: pointer;}
#header .inner .ham img {width: 63px; height: 63px; position: fixed; transition: all 0.5s; top: 3.5%; right: 5%;}
#header .inner .ham img:hover {transform: rotate(360deg);}
#header .mgnb {padding: 80px 0; position: fixed; right: 0; top: 0;
width: 20%; height: 100%; background: #fff; color: var(--main-font-color); box-shadow: 0 0px 15px rgba(0,0,0,0.3); transform: translateX(100%); overflow: 0; visibility: hidden; opacity: 0; transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s;}
#header .mgnb.active {transform: translateX(0); opacity: 1; visibility: visible;}
#header .mgnb ul { padding: 0; margin: 0; opacity: 0; transform: translateY(30px);  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; }
#header .mgnb.active ul {opacity: 1;  transform: translateY(0); }
#header .mgnb img {width: 50px; height: 50px; margin-right: 30px; transition: all 0.5s;}
#header .mgnb img:hover {transform: rotate(360deg);}
#header .mgnb li { text-align: left; font-size: 2rem; font-weight: 600; padding: 30px; transition: all 0.5s; border-bottom: 1px solid rgba(0,0,0,0.19); width: 100%; margin-left: 10px; cursor: pointer;}
#header .mgnb.active li {animation: slideUp 2s ease forwards;}
#header .mgnb li:hover {color: #ED896C; font-size: 2.5rem; }




#main {position: relative; z-index: 0; left: -2.5vw; bottom: 4vw;}
#main .inner {overflow:visible; padding: 0;}
#main .inner video {width: 110%; max-width: 1800px; animation: scale 0.7s;}

@media (max-width:1500px) {
    #header .inner .gnb_ham .gnb {display: none;}}

@media (max-width:1000px) {
    #header .mgnb {width: 50%;}}

@media (max-width:650px){
    #header { padding: 20px 0;}
    #header .inner .ham img {width: 43px; height: 43px;}
}
@media (max-width:500px){
    #header .inner .ham img {width: 23px; height: 3px;}
    #header .mgnb img {margin-right: 40px;}
    #main .inner video {width: 100%; margin-left: 25px;}
    #header .mgnb {width: 100%;}
}
@media (max-width:450px)
{ #main .inner video {width: 90%; margin-top:25px; margin-left: 0;}}

@keyframes scale {
    0% {transform: scale(0.1);}
    100%{transform: scale(1);}
}


#about {background: var(--main-font-color); color: var(--main-color); position: relative;}
#about .inner {padding: 150px 20px;}
#about h2 {padding-bottom: 80px; font-size: 3rem;}
#about p { font-size: 1.8rem; font-weight: 400;}
#about p span {color: #e4d101;}
#about img {padding-top: 130px; display: block; margin-left: auto;}

#about::before {content: ""; position: absolute; background: url(../img/about/img1.png) no-repeat; max-width: 200px; width: 100%; height: 200px; top: 50%; right: 0; transform: translateY(-35%); animation: scatter2 1.75s infinite;}
#about::after {content: ""; position: absolute;  background: url(../img/about/img2.png) no-repeat; max-width: 200px; width: 100% ;height: 200px; top: 0; right: 0; transform: translate(-58vw,90%); animation: scatter2 1.75s infinite;}

@media (max-width:1700px) {
    #about::after {content: ""; position: absolute;  background: url(../img/about/img2.png) no-repeat; max-width: 200px; width: 100% ;height: 200px; top: 0; right: 0; transform: translate(-60vw,90%); animation: scatter2 1.75s infinite;}
}

@media (max-width:1600px) {
    #about::after {content: ""; position: absolute;  background: url(../img/about/img2.png) no-repeat; max-width: 200px; width: 100% ;height: 200px; top: 0; right: 0; transform: translate(-65vw,90%); animation: scatter2 1.75s infinite;}
}

@media (max-width:1500px) {
    #about::after {content: ""; position: absolute;  background: url(../img/about/img2.png) no-repeat; max-width: 200px; width: 100% ;height: 200px; top: 0; right: 0; transform: translate(-68vw,90%); animation: scatter2 1.75s infinite;}
}

@media (max-width:1100px) {
     #about img {width: 100%;}
     #about::before {content: ""; position: absolute; background: url(../img/about/img1.png) no-repeat; max-width: 150px; width: 100%; height: 150px; top: 50%; right: 0; transform: translateY(-8%); animation: scatter2 1.75s infinite; background-size: contain;}
    #about::after {content: ""; position: absolute;  background: url(../img/about/img2.png) no-repeat; max-width: 150px; width: 100% ;height: 150px; top: 0; right: 0; transform: translate(-70vw,130%); animation: scatter2 1.75s infinite; background-size: contain;}
}

@media (max-width:500px) {
     #about .inner {padding: 130px 20px;}
     #about img {padding-top: 100px;}
    #about h2 {padding-bottom: 60px; font-size: 2rem;}
#about p { font-size: 1.3rem; font-weight: 300;}
 #about::before {content: ""; position: absolute; background: url(../img/about/img1.png) no-repeat; max-width: 120px; width: 100%; height: 120px; top: 50%; right: 0; transform: translateY(-6%); animation: scatter2 1.75s infinite; background-size: contain;}
    #about::after {content: ""; position: absolute;  background: url(../img/about/img2.png) no-repeat; max-width: 120px; width: 100% ;height: 120px; top: 0; right: 0; transform: translate(-65vw,130%); animation: scatter2 1.75s infinite; background-size: contain;}
    #header .inner .ham img {width: 45px; height: 45px; right:0 }
}

@media (max-width:450px) {
    #about h2 {padding-bottom: 30px; font-size: 2rem;}
#about p { font-size: 1.1rem; font-weight: 300;}
 #about::before {content: ""; position: absolute; background: url(../img/about/img1.png) no-repeat; max-width: 120px; width: 100%; height: 120px; top: 50%; right: 12px; transform: translateY(-6%); animation: scatter2 1.75s infinite; background-size: contain;}
    #about::after {content: ""; position: absolute;  background: url(../img/about/img2.png) no-repeat; max-width: 120px; width: 100% ;height: 120px; top: 0; right: 0; transform: translate(-68vw,110%); animation: scatter2 1.75s infinite; background-size: contain;}
}


@keyframes scatter2 {
    0% {top: 48%;}
    50% {top:51%;}
    100%{top:48%;}
}

#skills {position: relative; height: 130vh;}
#skills .inner {padding: 150px 20px; margin: 0 auto;}
#skills h2 {padding-bottom: 80px; font-size: 3rem;}
#skills .con {display: flex; justify-content: space-between; align-items:flex-start; flex-wrap: wrap;}
#skills .con img { max-width: 720px; width: 100%; height: 860px; display: block; transform: translateY(-15%);}
#skills .dt_con {display: flex; gap: 80px;}
#skills dl dt {width: 160px; font-size: 2.5rem; font-weight: 600; padding: 10px; border-bottom: 1px solid var(--main-font-color); border-top: 1px solid var(--main-font-color);}
#skills dl dt::before {content: ""; width: 100%; height: 1px; background: var(--main-font-color);}
#skills dl dd { padding-bottom: 20px;}
#skills dl dd:nth-of-type(1) {padding-top: 20px;}

@media (max-width:1375px) {
    #skills .con img {transform: translateY(0%); padding-top: 20px; margin-bottom: 20px;}

}

@media (max-width:650px) {
  #skills .dt_con {gap: 50px;}
  #skills dl dt {width: 90px;}

}

@media (max-width:500px) {
    #skills .inner {padding: 130px 20px;}
    #skills .con { justify-content: center;}
    #skills .con img { max-width: 350px; width: 100%; height: 500px; display: block; position: absolute; top: 0; left: 50%; transform: translate(-50%,116%);}
    #skills h2 {padding-bottom: 60px; font-size: 2rem;}
    #skills dl dt {font-size: 1.5rem; font-weight: 600; padding: 10px; border-bottom: 1px solid var(--main-font-color); }
    #skills dl dd { padding-bottom: 20px; font-size: 1.2rem;}
}

@media (max-width:450px) {
    #skills {height: 140vh;}
    #skills .dt_con {gap: 30px;}
}

@media (max-width:380px) {
    #skills dl dt {font-size: 1.2rem; }
    #skills dl dd {font-size: 0.9rem;}
}

@media (max-width:350px) {
    #skills .dt_con {gap: 20px;}
    #skills dl dt {font-size: 1.2rem; width: 70px; }
    #skills dl dd {font-size: 0.9rem;}
}

#Profile {background: var(--main-font-color); color: var(--main-color); height: 130vh; position: relative;}
#Profile .inner{padding: 150px 20px;}
#Profile h2 {font-size: 3rem; padding-bottom: 50px;}
#Profile .content{display: flex;  gap: 120px; align-items: center;}
#Profile .content .profile_img img {max-width: 890px; height: 804px; 
   transition:  opacity 0.3s ease-in-out; position: absolute; /* top: 0; left: 0; */}
#Profile .content  .profile_img:hover .img2{opacity: 1;}
#Profile .content  .profile_img:hover .img1 {opacity: 0;}
#Profile .content .profile_img .img1 {opacity: 1;}
#Profile .content .profile_img .img2{opacity: 0;}

#Profile .profile_text {position: absolute; right: 0; top: 50%; transform: translate(-29%,-15%); display: flex; gap: 80px; font-size: 2rem;}
#Profile .profile_text span {font-weight: 600; font-size: 2.2rem; padding-right: 10px;}
#Profile .profile_text ul li {padding-bottom: 50px; position: relative; z-index: 10; }
#Profile .profile_text .pro_left li:nth-of-type(1)::before{content: ""; background: #EAAA86; width: 25px; height: 25px; border-radius: 50%; position: absolute; left: -8%; top: -10%; z-index: -1;}

#Profile .profile_text .pro_left li:nth-of-type(3)::before{content: ""; background: #EAAA86; width: 25px; height: 25px; border-radius: 50%; position: absolute; left: -8%; top: -10%; z-index: -1;}

#Profile .profile_text .pro_right li:nth-of-type(2)::before{content: ""; background: #EAAA86; width: 25px; height: 25px; border-radius: 50%; position: absolute; left: -4%; top: -12%; z-index: -1;}

@media (max-width:1376px) {
       #Profile {margin-top: 300px;}
}

@media (max-width:990px) {
   #Profile {height: 100vh;}
    #Profile .inner{padding: 100px 20px;}
    #Profile h2 {font-size: 2rem; padding-bottom: 40px;}
    #Profile .profile_text {font-size: 1.5rem;}
    #Profile .profile_text span {font-size: 1.7rem; font-weight: 400;}
    #Profile .profile_text {display: flex; flex-direction: column; gap: 0; left: 50%; top: 0; transform: translate(-40%,70%); width: 100%;}
    #Profile .content .profile_img img{transform: translateY(6%); max-width: 700px; filter: brightness(0.4); height: auto; transition:  opacity 0.3s ease-in-out;}

    #Profile .content  .profile_img:hover .img2{opacity: 1;}
#Profile .content  .profile_img:hover .img1 {opacity: 0;}
#Profile .content .profile_img .img1 {opacity: 1;}
#Profile .content .profile_img .img2{opacity: 0;}

    #Profile .profile_text .pro_left li:nth-of-type(1)::before{content: ""; background: #EAAA86; width: 25px; height: 25px; border-radius: 50%; position: absolute; left: -4%; top: -10%; z-index: -1;}

#Profile .profile_text .pro_left li:nth-of-type(3)::before{content: ""; background: #EAAA86; width: 25px; height: 25px; border-radius: 50%; position: absolute; left: -4%; top: -10%; z-index: -1;}
}

@media (max-width:740px) {
      #Profile {height: 100vh;}
    #Profile .content .profile_img img {max-width: 600px;}
     #Profile .profile_text {transform: translate(-40%,62%);}
     #Profile .profile_text .pro_left li:nth-of-type(1)::before,
     #Profile .profile_text .pro_left li:nth-of-type(3)::before,
    #Profile .profile_text .pro_right li:nth-of-type(2)::before{content: ""; left: -3%;} }

@media (max-width:650px) {
      #Profile {height: 100vh;}
    #Profile .content .profile_img img {max-width: 550px; transform: translateY(6%);}
     #Profile .profile_text {transform: translate(-40%,55%);}
}

@media (max-width:500px) {
     #Profile {margin-top: 0px;}
    #Profile {height: 80vh;}
    #Profile .content .profile_img img{ max-width: 450px; transform: translateY(6%);}
     #Profile .profile_text {transform: translate(-40%,45%);}
}

@media (max-width:450px) { 
    #Profile .content .profile_img img{top: 50%; transform: translateY(6%); width: 380px; filter: brightness(0.4); height: auto; transition:  opacity 0.3s ease-in-out; position: relative;}
     #Profile .profile_text {transform: translate(-44%,40%);
    width: 300px;}
}
@media (max-width:380px) {
     #Profile .content .profile_img img{width: 330px;}

}
@media (max-width:330px) {
     #Profile .content .profile_img img{top: 50%; transform: translateY(31%); width: 280px; }
      #Profile .profile_text {width: 280px;}

}


#Project {padding: 150px 20px;}
#Project  h2 {font-size: 3rem; padding-bottom: 30px;}
#Project .pro_tab {display: flex; justify-content: center;}
#Project .pro_tab ul {display: flex; align-items: center; gap: 30px; border: 1px solid var(--main-font-color); border-radius: 18px; justify-content: center;}
#Project .pro_tab ul li button {border: none; background-color: transparent; cursor: pointer; padding: 20px; font-size: 2rem; color: #D9D9D9; }
#Project .pro_tab ul li button.active {color: var(--main-font-color);}

#Project .items>ul{display: flex; align-items: center; justify-content:flex-start; padding-top: 50px; gap: 30px; flex-wrap: wrap; position: relative;}

#Project .items ul .item_con { width: 100%; max-width: 530px; position: relative;}

#Project .items ul li img {width: 530px; height: 479px; display: block; object-fit:cover}

#Project .items ul li .link_go {position: absolute; bottom: 0%; left: 50%; transform: translateX(-50%); display: flex; justify-content: center; align-items: center; text-align: center; width: 100%;}

#Project .items ul li .link_go li {width: 100%;} 

#Project .items ul li .link_go a {padding: 15px 0; width: 50%}

#Project .items ul li:nth-of-type(1) .link_go .link_1 a,
#Project .items ul li:nth-of-type(3) .link_go .link_1 a,
#Project .items ul li:nth-of-type(4) .link_go .link_1 a
{background: rgba(0,0,0,0.5); color: #fff; padding: 20px 0; display: block; cursor: pointer; width: 100%}

#Project .items ul li:nth-of-type(5) .link_go .link_1 a {
    background: rgba(255,255,255,0.5); color: #fff; padding: 20px 0; display: block; cursor: pointer; width: 100%
}

#Project .items ul li:nth-of-type(1) .link_go .link_2 a,
#Project .items ul li:nth-of-type(3) .link_go .link_2 a,
#Project .items ul li:nth-of-type(4) .link_go .link_2 a,
#Project .items ul li:nth-of-type(5) .link_go .link_2 a
{background: rgba(255,255,255,0.8); padding: 20px 0; width: 100%; display: block; cursor: pointer;}

#Project .items ul li:nth-of-type(2) .link_go .link_2,
#Project .items ul li:nth-of-type(6) .link_go .link_2,
#Project .items ul li:nth-of-type(7) .link_go .link_2,
#Project .items ul li:nth-of-type(8) .link_go .link_2,
#Project .items ul li:nth-of-type(9) .link_go .link_2{background: rgba(255,255,255,0.5); padding: 20px 0; display: block; cursor: pointer;}

#Project .items ul li:nth-of-type(9) .link_go .link_2 img {object-fit: contain;}


/* keyword */
#Project .items ul .item_con:nth-child(1):before{content: "#Website"; position: absolute; top: 10px; left: 20px; color: #fff;}
#Project .items ul .item_con:nth-child(2):before{content: "#Design - Details page"; position: absolute; top: 10px; left: 20px; color: #fff;}
#Project .items ul .item_con:nth-child(3):before{content: "#Website"; position: absolute; top: 10px; left: 20px; color: #fff;}
#Project .items ul .item_con:nth-child(4):before{content: "#Website"; position: absolute; top: 10px; left: 20px;}
#Project .items ul .item_con:nth-child(5):before{content: "#Website - Group project"; position: absolute; top: 10px; left: 20px; color: #fff;}
#Project .items ul .item_con:nth-child(6):before{content: "#Design - Banner"; position: absolute; top: 10px; left: 20px;}
#Project .items ul .item_con:nth-child(7):before{content: "#Design - Details page"; position: absolute; top: 10px; left: 20px;}
#Project .items ul .item_con:nth-child(8):before{content: "#Ect - Video"; position: absolute; top: 10px; left: 20px; color: #fff;}
#Project .items ul .item_con:nth-child(9):before{content: "#Design - Logo"; position: absolute; top: 10px; left: 20px;}

@media (max-width:1744px) {
    #Project .items>ul {justify-content: center;}
}

@media (max-width:1550px) {
    #Project .pro_tab ul {gap: 10px;}
    #Project .pro_tab ul li button {font-size: 1.5rem;}

}

@media (max-width:500px) {
    #Project {padding: 130px 20px;}
#Project  h2 {font-size: 2rem;}
#Project .pro_tab ul { gap: 10px; border: 1px solid var(--main-font-color); border-radius: 18px; justify-content: center; width: 100%;}
#Project .pro_tab ul li button {border: none; background-color: transparent; cursor: pointer; padding: 20px; font-size: 1.5rem; color: #D9D9D9; }
#Project .pro_tab ul li button.active {color: var(--main-font-color);}

#Project .items ul li img {width: 100%; max-width: 450px; height: 350px;}
}

@media (max-width:450px) {
    #Project .pro_tab ul {gap: 5px;}
 #Project .pro_tab ul li button {font-size: 1.3rem;}
}

@media (max-width:350px) {
 #Project .pro_tab ul li button {font-size: 1.1rem; padding: 20px 5px;}
}




.popup {display: none; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); max-width: 1720px; width: 90%; height: 900px; overflow:hidden; background: #fff;  z-index: 5;}

.popup .inner {display: flex;  justify-content: space-between; padding: 0;}
.popup .inner .popup_text {padding: 200px 50px 0; overflow: hidden; word-break:keep-all; font-size: 1.5rem;}
.popup .inner .popup_text h3 {font-size: 3rem; padding-bottom: 20px;}
.popup .inner .popup_text p:nth-of-type(2) {padding-top: 10px;}
.popup .inner .popup_text p:nth-of-type(3) {padding-top: 30px;}
.popup9 .inner .popup_text p:nth-of-type(4) { font-size: 1.2rem;}
.popup .inner .popup_text p span {color: #ee550e;}
.popup .inner .popup_text p:nth-of-type(4) a {cursor: pointer; padding-top: 20px;}
.popup .inner .popup_img {max-width: 1000px; height: 900px; overflow-y: scroll;}
.popup .inner img { width: 100%;  overflow-y: scroll;}
 .popup7 p:nth-of-type(3){padding-top: 0 !important; font-size: 1.2rem; padding-bottom: 30px;}

 .popup8 video {width: 100%; padding-top: 10px;}

.popup .inner .link {padding-top: 30px; cursor: pointer;}

.popup .popup_close {position: absolute; bottom: 8%; background: none; font-family: 1.8rem; margin-left: 40px; border: 1px solid var(--main-font-color); padding: 5px 20px; border-radius: 5px; cursor: pointer; z-index: 2;}

.popup .inner .popup_title span {color: var(--main-font-color) !important; font-weight: 700;}
.popup .inner .popup_title img {width: 40px; height: 40px; margin-top: 10px;}

@media (max-width:1200px) {
.popup .inner .popup_text h3 {font-size: 2.5rem;}
.popup .inner .popup_text p {font-size: 1.5rem;}}

@media (max-width:800px) {
.popup .inner {display: flex; flex-direction: column;}
.popup .inner .popup_text {padding: 50px 25px}
.popup .inner .popup_text h3 {font-size: 2rem;}
.popup .inner .popup_text p {font-size: 1.3rem;}
.popup .popup_close {background: #fff;}
}


/* Professional experience */
#Professional {padding: 150px 20px;}
#Professional h2 {font-size: 3rem; padding-bottom: 30px;}
#Professional .prof_top {display: flex; align-items: center; gap: 80px;}
#Professional .prof_top .ptof_left img{max-width: 510px; width: 100%;}
#Professional .prof_top .prof_rigth h3 {font-size: 2rem; font-weight: 500;}
#Professional .prof_top .prof_rigth h3>span {
    font-size: 1.5rem;
}

#Professional .prof_top .prof_rigth .table {
    padding-top: 50px;
}
